---
layout: page
type: treinamentos
title: Treinamentos
---

<header style="background-image: url('/assets/img/workshops-header4.jpg');">
    <div class="container">
        <div class="intro" style="height: 90vh;">

          <div class="main-text-box" style="margin: auto 0;height: 90vh;">
            <div class="main-text" style="text-align: center; font-weight: 600; width: 100%; font-size: 150%; margin: 350px auto">
							TREINAMENTOS
							<!-- <span id="type-it"></span> -->
              <br><a href="/#contact" class="btn btn-warning agilizando-btns">Quero Contratar!</a>

	          </div>
					</div>
        </div>
    </div>
</header>

<!-- Sections -->

{% include next-trainnings.html %}

{% include depoiments.html %}

{% include newsletter.html %}

{% include workshop-photos.html %}

{% include video-ultimo-workshop.html %}

