<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre Mim</h2>
                    <!-- <h3 class="section-subheading text-muted">{{ site.description }}</h3> -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                
                <!-- <div class="col-sm-3">  
                  <div class="imgAbt">
                      <img src="img/foto-sem-fundo.png" class="text-left" width="220px"><br>
                  </div>
                </div> -->
                <div class="col-sm-10">
                    <p class="text-muted justified-text">
                        <img src="{{site.url}}/assets/img/foto-sem-fundo.png" style='float:left;width:200px;height:200px; margin-right:40px;'>
                        Nasci e fui criada no extremo sul da cidade de São Paulo, onde ainda moro nos dias de hoje. Trabalho com desenvolvimento de software há 12 anos. Durante esses 12 anos já atuei em diversas posições da área de engenharia de software como desenvolvedora, analista de sistemas, arquiteta de software, líder técnica e agile coach e em diversas empresas muito reconhecidas pela sua tradição, cultura ou tecnologia como Liberty Seguros, Serasa, Maplink, Viva Real, Tripda e Moip. Atualmente sou CTO da Jeitto, a primeira startup de microcrédito para pessoas de baixa renda do Brasil!
                        <br><br>
                        
                        Me graduei em Análise e Desenvolvimento de Sistemas (2008) quando obtive meu primeiro estágio em desenvolvimento. Me pós-graduei em Gestão Estratégica de Projetos pelo ITA (2012), curso que deu origem aos meus estudos sobre agilidade. Recebi o título de Mestre em Ciência da Computação pela USP (2018), onde pesquisei sobre manutenibilidade de código Android, mais específicamente maus cheiros. Se tiver interesse, pode consultar minha monografia sobre Padrões Para Implantar Métodos Ágeis ou minha dissertação de mestrado sobre Anomalias na Camada de Apresentação Android.
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section>





<!-- 

SAMPLES 

Having led top-ranked MBA and Executive programs, Laura Rojo has worked with international markets across Asia, Europe and the Americas in roles spanning the areas of program management and design; marketing and international business development; talent acquisition and admissions; strategic partnerships; coaching, facilitation and teaching.

Laura is a strong believer in life-long learning and also works in executive coaching, facilitation and leadership development – Certified in Integral Coaching, Laura´s work helps clients transform deep personal insights into meaningful changes, development and sustained behavior, in order to achieve their fullest potential.

Professor Ignacio Gafo spent more than 15 years working in multinationals before joining IE Business Scholl full time. His main asset for teaching is his experience in national and international environments in Strategy and Change Management. During his career he has been able to design and apply disruptive initiatives and marketing strategies in several industries and segments. His main areas of interest include B2B Marketing, Customer Management and Change Management.

Considered by The Economist as one the top 100 business professors in the World, Professor Ignacio Gafo has a wide experience helping senior executives to develop leadership skills and is currently managing the Global & Executive Master Programs at IE Business School.

-->