<!-- Services Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre Suelen Carvalho</h2>
                    <!-- <h3 class="section-subheading text-muted">{{ site.description }}</h3> -->
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-1"></div>

                <!-- <div class="col-sm-3">
                  <div class="imgAbt">
                      <img src="img/foto-sem-fundo.png" class="text-left" width="220px"><br>
                  </div>
                </div> -->
                <div class="col-sm-10">
                    <p class="text-muted justified-text">
                        <img src="{{site.url}}/assets/img/foto-sem-fundo.png" style="float:left;width:150px;height:150px;margin-right:15px;margin-bottom:10px;">
                        <b>Especialista em Métodos Ágeis e Desenvolvimento de Aplicativos</b>. Suelen Carvalho atua há mais de 13 anos com desenvolvimento de software e há 8 anos com agilidade e desenvolvimento de aplicativos. Passou por grandes empresas e startups em diversos estágios. Em muitas das empresas que esteve, foi protagonista na implantação de práticas e métodos ágeis.

                        <br><br>
                        Suelen Carvalho é Mestre em Ciência da Computação pelo IME/USP, certificada em liderança e Coach pela Universidade de La Verne nos EUA e especialista em Gestão Estratégica de Projetos pelo Instituto Tecnológico de Aeronáutica (ITA). Participante ativa da comunidade de software, já deu mais de 30 palestras e mais de 4.000 horas em treinamentos.

                        <br><br>
                        Com um sólido conhecimento e experiência sobre melhores práticas e processos de engenharia de software, desenvolvimento de produtos, gestão e liderança de pessoas, atualmente ajuda pessoas e empresas a alcançar níveis mais elevados com agilidade, desenvolvimento de aplicativos e carreira.

                        <br><br>
                        Conheça mais sobre a história de Suelen Carvalho <a href="/about">clicando aqui</a>.


                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section>





<!--

SAMPLES

Having led top-ranked MBA and Executive programs, Laura Rojo has worked with international markets across Asia, Europe and the Americas in roles spanning the areas of program management and design; marketing and international business development; talent acquisition and admissions; strategic partnerships; coaching, facilitation and teaching.

Laura is a strong believer in life-long learning and also works in executive coaching, facilitation and leadership development – Certified in Integral Coaching, Laura´s work helps clients transform deep personal insights into meaningful changes, development and sustained behavior, in order to achieve their fullest potential.

Professor Ignacio Gafo spent more than 15 years working in multinationals before joining IE Business Scholl full time. His main asset for teaching is his experience in national and international environments in Strategy and Change Management. During his career he has been able to design and apply disruptive initiatives and marketing strategies in several industries and segments. His main areas of interest include B2B Marketing, Customer Management and Change Management.

Considered by The Economist as one the top 100 business professors in the World, Professor Ignacio Gafo has a wide experience helping senior executives to develop leadership skills and is currently managing the Global & Executive Master Programs at IE Business School.

-->