<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Formação Acadêmica</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                <br><br><br><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            		<div class="row text-center">
                	<img src="/assets/img/about/ita.png" width="190px"><br><br>
                </div>
                <div class="row text-center">
                	<h5>Especialização em Gestão <br> Estratégica de Projetos</h5>
                </div>
            </div>
            <div class="col-md-4">
	            	<div class="row text-center">
	                <img src="/assets/img/about/usp.png" width="180px"><br><br>
	              </div>
	              <div class="row text-center">
	              	<h5>Mestrado em Ciência<br>da Computação</h5>
	              </div>
            </div>
            <div class="col-md-4">
            		<div class="row text-center">
                	<img src="/assets/img/about/ulv.png" width="180px" style="margin-top: 20px;"><br><br>
                </div>
                <div class="row text-center">
                	<h5>ESPECIALIZAÇÃO em Liderança<br>& Coach</h5>
                </div>
            </div>
        </div>
    </div>
</section>