<div class="container">
    <div class="intro">

      <div class="main-text-box" style="top: 43%;">
        <div class="main-text" style="padding: auto 50px;">
          <p style="line-height: 1.2; font-size: 80%">Já conhece meu <span style="color: #3BADD9">canal</span> no <span style="color: #E34E3B">YouTube</span>? CLIQUE <a href="#">AQUI</a> E INSCREVA-SE!</p>
          <img src="/assets/img/agilizando-youtube-channel2.png" style="width:350px;margin-left: -20px">
          <!-- <img src="/assets/img/videos-novos.png" style="width:300px;"> -->

          <iframe width="315" height="200" src="https://www.youtube.com/embed/kw4NbsOZEqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>
</div>