<div id="{{ include.name }}" class="carousel slide" data-ride="carousel" data-interval="3500" data-pause="false">

  <ol class="carousel-indicators">
   {% for carousel in include.data %}
   {% if forloop.first == true %}
     <li data-target="#{{ include.name }}" data-slide-to="0" class="active"></li>
   {% else %}
     <li data-target="#{{ include.name }}" data-slide-to="{{ forloop.index0 }}"></li>
   {% endif %}
   {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for carousel in include.data %}
      {% if forloop.first == true %}
        <div class="item active">
          {% if carousel.name %}
            <img src="{{site.url}}{{ carousel.url }}" alt="{{ carousel.name }}">
          {% endif %}

          {% if carousel.url %}
            <img src="{{site.url}}{{ carousel.url }}">
          {% else %}
            {% include {{carousel.page}} %}
          {% endif %}

          {% if carousel.caption %}
            <div class="carousel-caption">
              {{ carousel.caption }}
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="item">
          {% if carousel.name %}
            <img src="{{site.url}}{{ carousel.url }}" alt="{{ carousel.name }}">
          {% endif %}

          {% if carousel.url %}
            <img src="{{site.url}}{{ carousel.url }}">
          {% else %}
            {% include {{carousel.page}} %}
          {% endif %}

            <div class="carousel-caption">
              {{ carousel.caption }}
            </div>
        </div>
      {% endif %}
    {% endfor %}
 </div>

   <a class="left carousel-control" href="#{{ include.name }}" role="button" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#{{ include.name }}" role="button" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
</div>