  <footer style="background-color: #222;">
        <div class="container">
            <div class="row">
              <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons-white social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <span class="copyright" style="color: #fff;">Copyright &copy; Suelen Carvalho {{ 'now' | date: "%Y" }}</span>
                </div>
            </div>
        </div>
    </footer>
