  <footer>
    <div class="container" style="padding-top: 50px; padding-bottom: 50px; font-size: 0.9em">
        <div class="row">
            <div class="col-sm-3">
            		<img id="page-top" src="/assets/img/logo-name-black.png" style="width: 260px">
            		<br><br>

                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li style="padding-right: 2px; padding-left: 2px;"><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>

								<br><br>
                <img id="page-top" src="/assets/img/agilizando-logo-pb.png" style="width: 260px">

                <br><br>
            </div>

						<div class="col-sm-1"></div>

						<div class="col-sm-2" style="text-align: left;">
							<a href="/articles" style="color: black;"><b>Blog</b></a><br><br>
							<a href="/about" style="color: black;"><b>Sobre</b></a><br><br>
							<a href="/workshops" style="color: black;"><b>Workshops</b></a><br><br>
							<a href="/" style="color: black;"><b>Palestras</b></a><br><br>
						</div>

						<div class="col-sm-2" style="text-align: left;">
							<a href="/youtube-agilizando" style="color: black;"><b>YouTube Agilizando!</b></a><br><br>
							<a href="#contact" style="color: black;"><b>Contato</b></a><br><br>
							<a href="/search" style="color: black;"><b>Busca no blog</b></a><br><br>
						</div>

						<div class="col-sm-1"></div>


		        <div class="col-sm-3" style="text-align: left;">
							<form action="#" method="post">
		              <div style="display: table; width: 100%; margin-bottom: 10px;">
		                  <div class="agilizando-post-principal-yellow-vertical-line" style="height: 100%"></div>
		                  <h4 style="color: #390864; font-weight: 600; text-transform: none; margin: 0 10px; font-size: 1em;">O Agilizando! te ajuda a agilizar sua vida e carreira!</h4>
		              </div>

		              <p style="color: #ccc; line-height: 1">Deixe seu e-mail aqui e receba o conteúdo mais ágil do Brasil!</p>
		              <div class="form-group">
										<form name="sentMessage" id="agilizandoForm" class="form-inline">
											<input type="hidden" id="reason" value="Newsletter Agilziando!">
											<input type="hidden" id="message" value="Me inscreva na newsletter.">

		                  <div class="form-group">
			                  	<input id="email" type="text" class="form-control" style="border: 0; margin-right: 10px; box-shadow: 2px 2px 5px #0005;" placeholder="Seu melhor email aqui" />
		                  </div>

											<button type="submit" class="btn btn-warning agilizando-btns" style="box-shadow: 2px 2px 5px #0005;"><b>Me inscrever!</b></button><br>
		              	</form>
		              </div>
		          </form>

		        </div>
				</div>
				<div class="row">
            <div class="col-sm-12">
            	<br><br>
							<span class="copyright" style="line-height: 1em">Copyright &copy; Suelen Carvalho {{ 'now' | date: "%Y" }}</span>
						</div>
				</div>
  	</div>
</footer>
