<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll" href="/" style="padding: 18.5px 15px">
              <img id="page-top" src="/assets/img/suelen-carvalho-logo-name.png" class="logo-name">
            </a>
            <br />
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" style="margin-top: 10px;" href="/articles">BLOG</a>
                </li>
                <li>
                    <a class="page-scroll" style="margin-top: 10px;" href="/about">SOBRE</a>
                </li>
                <li>
                    <a class="page-scroll" style="margin-top: 10px;" href="/workshops">CURSOS | WORKSHOPS</a>
                </li>
                <li>
                    <a class="page-scroll" style="margin-top: 10px;" href="/workshops">PALESTRAS</a>
                </li>
                <li>
                    <a class="page-scroll" style="margin-top: 10px;" href="/youtube-agilizando">YOUTUBE AGILIZANDO!</a>
                </li>
                <li>
                    <a class="page-scroll" style="margin-top: 10px;" href="#contact">CONTATO</a>
                </li>
                <li>
                		<a class="page-scroll" style="margin-top: 10px;" href="/search"><img style="max-width:20px;" src="/assets/img/ic-lupa.png" alt="Buscar"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro">

          <div class="main-text-box">
            <div class="main-text" style="text-align: left;">

							<span style="font-weight: 600;">MÉTODOS ÁGEIS TE AJUDAM A TER RESULTADOS COM MAIS EFICIÊNCIA, QUALIDADE E ASSERTIVIDADE!</span>

							<div style="background-color: #fff; height: 3px; width: 50px; margin-top: 10px; text-shadow: 1px 1px 2px #000000;"></div>

							<div style="font-size: 16px; margin-top: 10px">
								<p style="line-height: 1.5em; margin: 0; font-weight: 300; text-shadow: none;">Desenvolvedora | Palestrante | Instrutora | Fundadora do Agilizando!</p>
							</div>

							<br><a href="/#contact" class="btn btn-warning agilizando-btns">Entre em Contato!</a>
              <!-- <a href="#contact" class="btn btn-warning agilizando-btns" style="margin-top: 10px; text-transform: none; text-shadow: none; color: #fff; border-radius: 30px; padding-left: 40px; padding-right: 40px">ME INSCREVA!</a> -->
	          </div>
					</div>
        </div>
    </div>
</header>

