<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
            <!-- <a class="navbar-brand page-scroll" href="#page-top"><span class="white-text">Suelen</span>GC</a> -->
            <!-- <a class="navbar-brand page-scroll" href="#page-top"><span class="logoname-suelen">suelen</span><span class="white-text logoname-gc">gc</span></a> -->
            <a class="navbar-brand page-scroll" href="#page-top"><img id="page-top" src="assets/img/logo-suelencarvalho.png" width="28px">&nbsp;<img id="page-top" src="/assets/img/suelen-carvalho-logo-name.png" width="220px"></a>
            <br />
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="#about">Carreira</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#about">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Serviços</a>
                </li>
                <li>
                    <a class="page-scroll" href="/articles">Artigos</a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="#videos">Vídeos</a>
                </li> -->
                <!-- <li>
                    <a class="page-scroll" href="#contact">Workshops</a>
                </li> -->
                <!-- <li>
                    <a class="page-scroll" href="#team">Métodos Ágeis</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Mobile</a>
                </li> -->
                <!-- <li>
                    <a class="page-scroll" href="#team">Pesquisas</a>
                </li>  -->
                <!-- <li>
                    <a class="page-scroll" href="#portfolio">Palestras</a>
                </li> -->
                <!-- <li>
                    <a class="page-scroll" href="">Me Contrate</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro">

          <div class="main-text-box">
            <div class="main-text">ALCANCE A <span style="color: #E34E3B">AGILIDADE</span>, <span style="color: #3BADD9">INOVAÇÃO</span> E O PRÓXIMO NÍVEL NA SUA <span style="color: #FBBB2C">CARREIRA</span></div>
          </div>

        </div>
    </div>
</header>

