    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/4.4.0/typeit.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="{{ "/assets/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/typeit.v5.3.0.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/assets/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>

    <!-- Hellobar -->
    <script src="https://my.hellobar.com/2738ab88954da61403bd509e457ebc7e306571e7.js" type="text/javascript" charset="utf-8" async="async"></script>
