<section id="portfolio">
    <div class="container">
        <div class="row">
        		<div class="col-sm-1"></div>
            <div class="col-sm-10" style="text-align: center;">
                <h2 class="section-heading">ÚLTIMAS DO BLOG</h2>
                <p class="text-muted" style="text-align: left;">Conteúdo para guiar, refletir, provocar e inspirar você na aplicação de métodos ágeis, desenvolvimento de carreira, tecnologia, empreendedorismo e life style.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" style="padding-top: 20px;">
        	<div class="col-sm-1"></div>

        	<div class="col-sm-10">
        		<div class="row">
        		{% for post in site.posts limit:3 %}
	        		<div class="col-sm-4">
		          	<a href="{{ post.url }}" target="_blank">
		          		<div class="last-post-image-container" style="background-image: linear-gradient(to bottom, transparent 0%, black 100%), url({{site.url}}/{{post.image}}); height: 300px;">
		          			<div class="post-image-title" style="font-size: 90%; background-color: #00000000;">
		          				<p style="color: #fff;display: inline-block; font-size: 10px; float: left;">
	          						<span class="agilizando-post-meta-categoria" style="display: inline-block; font-weight: 300; font-size: 10px; float: left;">{{ post.categories | join: ", " }}</span>
	          						<img style="display: inline-block; width: 11px; margin-right: 4px; margin-bottom: 1px;" src="/assets/img/icclock.png" />{% include post-date.html %}
	          					</p>

		          				<div style="display:table; width: 100%; vertical-align: middle;">
		          					<div class="agilizando-post-principal-yellow-vertical-line"></div>
		          					<p style="display: inline-block; font-size: 1.2em; line-height: 1.2em; margin-left: 10px;" class="agilizando-post-principal-title">{{ post.title }}</p>
		          				</div>
		                </div>
		              </div>
		            </a>
		          </div>
            {% endfor %}
          	</div>
        	</div>

        	<div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
            	<br><br>
              <a href="/articles" class="btn btn-warning agilizando-btns">Ver Todos os Artigos ➝</a>
            </div>
        </div>
    </div>
</section>
