<style type="text/css">
	.media-logo {
		width: 150px;
		margin-right: 40px;
	}

	/*#carousel-medias .item{
	  margin: 3px;
	}
	#carousel-medias .item img{
	  display: block;
	  width: 100%;
	  height: auto;
	}*/

	.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: center;
	}
</style>

<section id="about" style="padding: 50px 0; background-color: white">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-2 vcenter">
            	<a target="_blank" href="https://thedevconf.com/palestrante/suelencarvalho"><img src="{{site.url}}/assets/img/media/logo-the-developers-conference.jpg"></img></a>
            </div>
            <div class="col-sm-2 vcenter">
							<a target="_blank" href="https://www.infoq.com/br/presentations/tudo-sobre-gcm-push-notifications/?itm_source=infoq&itm_campaign=user_page&itm_medium=link"><img width="120px" src="{{site.url}}/assets/img/media/logo-infoq.jpg"></img></a>
						</div>
						<div class="col-sm-2 vcenter">
							<a target="_blank" href="https://issuu.com/imasters/docs/24/8"><img src="{{site.url}}/assets/img/media/logo-imasters.jpg"></img></a>
						</div>
						<div class="col-sm-2 vcenter">
							<a target="_blank" href="https://conversaagil.com.br/episodio-3-conversa-sobre-agilidade-e-trabalho-remoto-com-suelen-carvalho/"><img width="90px" src="{{site.url}}/assets/img/media/logo-conversa-agil.jpg"></img></a>
						</div>
						<div class="col-sm-2 vcenter">
							<a target="_blank" href="https://sermulheremtech.com/2018/03/11/trabalhar-e-estudar-ao-mesmo-tempo-acabou-se-tornando-o-ponto-forte-de-suelen-que-tem-uma-formacao-academica-de-arrepiar-conheca-suelen-carvalho-cto-no-jeitto/"><img src="{{site.url}}/assets/img/media/logo-ser-mulher-em-tech.jpg"></img></a>
						</div>

            <div class="col-sm-1"></div>
        </div>
    </div>
</section>