<style type="text/css">
	/*#carousel-medias .item{
	  margin: 3px;
	}
	#carousel-medias .item img{
	  display: block;
	  width: 100%;
	  height: auto;
	}*/

	.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: center;
	}

	.media-logo {
		width: 40%;
	}

	@media (min-width: 992px) {
		.media-logo {
			width: 70%;
		}
	}
</style>

<section id="medias" style="padding: 20px 0; background-color: white">
    <div class="container">

        <div class="row" >
        		<div class="col-md-1"></div>
        		<div class="col-md-10">

			        	<div id="owl-carousel-quotes" class="owl-carousel owl-theme owl-loaded">
							    <div class="owl-stage-outer">
							      <div class="owl-stage">
											<div style="height: 70px; display: table;" class="owl-item"><a style="vertical-align: middle; display: table-cell;" target="_blank" href="https://thedevconf.com/palestrante/suelencarvalho"><center><img style="width: 90%" src="{{site.url}}/assets/img/media/tdc.jpg"></center></a></div>
											<div style="height: 70px; display: table;" class="owl-item"><a style="vertical-align: middle; display: table-cell;" target="_blank" href="https://www.infoq.com/br/presentations/tudo-sobre-gcm-push-notifications/?itm_source=infoq&itm_campaign=user_page&itm_medium=link"><center><img style="width: 90%" src="{{site.url}}/assets/img/media/infoq.jpg"></center></a></div>
											<div style="height: 70px; display: table;" class="owl-item"><a style="vertical-align: middle; display: table-cell;" target="_blank" href="https://issuu.com/imasters/docs/24/8"><center><img style="width: 90%" src="{{site.url}}/assets/img/media/imasters.jpg"></center></a></div>
											<div style="height: 70px; display: table;" class="owl-item"><a style="vertical-align: middle; display: table-cell;" target="_blank" href="https://conversaagil.com.br/episodio-3-conversa-sobre-agilidade-e-trabalho-remoto-com-suelen-carvalho/"><center><img style="width: 60%" src="{{site.url}}/assets/img/media/conversa-agil.jpg"></center></a></div>
											<div style="height: 70px; display: table;" class="owl-item"><a style="vertical-align: middle; display: table-cell;" target="_blank" href="https://sermulheremtech.com/2018/03/11/trabalhar-e-estudar-ao-mesmo-tempo-acabou-se-tornando-o-ponto-forte-de-suelen-que-tem-uma-formacao-academica-de-arrepiar-conheca-suelen-carvalho-cto-no-jeitto/"><center><img style="width: 90%" src="{{site.url}}/assets/img/media/ser-mulher-em-tech.jpg"></center></a></div>
										</div>
									</div>
								</div>
						</div>
						<div class="col-md-1"></div>

        </div>
    </div>
</section>