<section id="about" style="padding: 50px 0; background-color: #F8E71C">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="text-muted justified-text" style="color: #222;">
									<b>
                    Quer ser avisado de novos artigos, vídeos e workshops? Se inscreva na minha newsletter e fique sabendo de tudo isso e muito mais em primeira mão!
										<br><br>
										É um conteúdo BEM legal! Assine aqui pra receber.
									</b>

									<form name="sentMessage" id="contactForm" class="form-inline">
											<input type="hidden" id="reason" value="Newsletter">
											<input type="hidden" id="message" value="Me inscreva na newsletter.">
											<div class="form-group">
		                      <input id="name" type="text" class="form-control" style="border: 0; margin-right: 10px; box-shadow: 2px 2px 5px #0005;" placeholder="Nome" />
		                  </div>
		                  <div class="form-group">
			                  	<input id="email" type="text" class="form-control" style="border: 0; margin-right: 10px; box-shadow: 2px 2px 5px #0005;" placeholder="Seu melhor email aqui" />
		                  </div>
											<button type="submit" class="btn btn-warning agilizando-btns" style="box-shadow: 2px 2px 5px #0005;"><b>Me inscreva!</b></button><br>
											<div id="success" style="margin: 0"></div>

		                  <div class="wpcf7-response-output wpcf7-display-none"></div>
		              </form>
									<br><br>
									<i>Fique tranquilo! Sem spam.</i>
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>