<!-- Section -->
<section id="community">
    <div class="container" style="min-height:100%;">
			<div class="row">
        		<div class="col-sm-1"></div>
            <div class="col-sm-10" style="text-align: center;">
                <h2 class="section-heading">PRÓXIMOS TREINAMENTOS</h2>
                <p class="text-muted" style="text-align: left;">Se inscreva nos próximos treinamentos. Entre em contato caso queira levar algum treinamento para sua região ou contratar in-company.</p>
                <br><br>
            </div>
            <div class="col-sm-1"></div>
        </div>

			<div class="row" style="">
				<div class="col-sm-1"></div>
				<div class="col-md-10">

						<div class="row" style="border-top: 50px; margin-bottom: 10px;">

		            <div class="col-md-6">
		                <div class="presentation-container">
		                  <div class="presentation-image">
		                  	<img src="/assets/img/workshops/workshop-estorias-de-usuarios-15072020.png">
		                  </div>
		                  <div class="presentation-meta">
		                    <b>15 de Julho das 19h às 22h</b><br>
		                    <p style="font-weight: 300; font-size: 1.2em">Domine a escrita e quebra de estórias de usuário</p>
		                  </div>
		                  <div class="presentation-title">
		                    <h4>{{talk.title}}</h4>
		                  </div>

		                  <div class="row">
							            <div class="col-lg-12" style="text-align: center;">
							              <a href="https://www.sympla.com.br/domine-a-escrita-e-quebra-de-estorias-de-usuario__889801" target="_blank" class="btn btn-warning agilizando-btns" style="width: 100%">QUERO ME INSCREVER</a>
							            </div>
							        </div>
		                </div>

		                <br><br>
		            </div>

		            <div class="col-md-6">
		                <div class="presentation-container">
		                  <div class="presentation-image">
		                  	<img src="/assets/img/workshops/workshop-estorias-de-usuarios-27072020.png">
		                  </div>
		                  <div class="presentation-meta">
		                    <b>27 de Julho das 19h às 22h</b><br>
		                    <p style="font-weight: 300; font-size: 1.2em">Domine a escrita e quebra de estórias de usuário</p>
		                  </div>
		                  <div class="presentation-title">
		                    <h4>{{talk.title}}</h4>
		                  </div>


				            	<div class="row">
							            <div class="col-lg-12" style="text-align: center;">
							              <a href="https://www.sympla.com.br/domine-a-escrita-e-quebra-de-estorias-de-usuario__896636" target="_blank" class="btn btn-warning agilizando-btns" style="width: 100%">QUERO ME INSCREVER</a>
							            </div>
							        </div>

		                </div>
		            </div>



		        </div>

				</div> <!-- close col-md-10 -->
				<div class="col-sm-1"></div>


			</div> <!-- close row -->
    </div> <!-- close container -->
</section>
