<section id="about" style="padding: 75px 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
            	<div style="text-align: center;">
            		<img src="/assets/img/quote-left.png" style="width: 70px; margin-right: 50px">
                <p class="text-muted" style="color: #222; display: inline-block;">
									<b>Theory withou experience is useless. Experience without theory is expensive.</b>
									<br>- - William Edwards Deming
                </p>
                <img src="/assets/img/quote-right.png" style="width: 70px; margin-left: 50px">
              </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>