<!-- Team Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">TREINAMENTOS E WORKSHOPS</h4>
                    <p class="text-muted" style="margin-left: 30px; margin-right: 30px;">De forma dinâmica e descontraída os <b>Treinamentos</b> e <b>Workshops</b> proporcionam aos participantes vivência e desenvolvimento de temas como Manifesto Ágil, Scrum, Lean, Kanban, XP, escrita de estórias de usuários, dentre outros.<br><b><a href="/trainning">MAIS INFORMAÇÕES</a></b></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x" ></i>
                    </span>
                    <h4 class="service-heading">PALESTRAS</h4>
                    <p class="text-muted" style="margin-left: 30px; margin-right: 30px;"><b>Palestras</b> dinâmicas e ricas de conteúdo proporcionam ideias, insights e inspiram participantes de todas as idades e níveis de conhecimento sobre diversos temas relacionados a Métodos Ágeis.<br><b><a href="/presentations">MAIS INFORMAÇÕES</a></b></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">ACONSELHAMENTO</h4>
                    <p class="text-muted" style="margin-left: 30px; margin-right: 30px;">Já atua com métodos ágeis mas está com uma dúvida específica? Não sabe exatamente o melhor caminho a seguir? Através do <b>Aconselhamento</b> ajudo pessoas a encontrarem a abordagem com maior chance de sucesso!<br><b><a href="/counseling">MAIS INFORMAÇÕES</a></b></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">MENTORIA</h4>
                    <p class="text-muted" style="margin-left: 30px; margin-right: 30px;">Quer uma ajuda para superar os desafios para se tornar ágil? Através da <b>Mentoria</b> ajudo pessoas e empresas a alcançarem com eficiência, níveis mais elevados com Métodos e Práticas Ágeis. Melhoria contínua, auto-organização são alguns dos possíveis resultados.<br><b><a href="/mentoring">MAIS INFORMAÇÕES</a></b></p>
                </div>

                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">CONSULTORIA</h4>
                    <p class="text-muted">Direcionamento na implantação de métodos ágeis, como alcançar a melhoria contínua e ter uma avaliação do nível de maturidade do time são resultados possíveis com a <b>Consultatoria em Métodos Ágeis</b>. Decidir entre nativo ou plataforma híbrida, melhorar a qualidade técnica e obter maior agilidade no desenvolvimento são resultados possíveis com a <b>Consultoria em Desenvolvimento de Aplicativos</b>.</p>
                </div> -->
            </div>


        </div>
    </section>