<!-- Team Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">TREINAMENTOS</h4>
                    <p class="text-muted">De forma dinâmica e descontraída os <b>Treinamentos</b> e <b>Workshops</b> proporcionam aos participantes vivência e desenvolvimento de temas como Manifesto Ágil, Scrum, Lean, Kanban, XP, como escrever estórias de usuários, gestão de backlog de produto, dentre outros.<br><b><a href="/trainning">MAIS INFORMAÇÕES</a></b></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x" ></i>
                    </span>
                    <h4 class="service-heading">PALESTRAS E WORKSHOPS</h4>
                    <p class="text-muted"><b>Palestras</b> e <b>Workshops</b> dinâmicos e ricos de conteúdo proporcionam ideias e insights a participantes de todas as idades e níveis de conhecimento sobre temas relacionados a Métodos Ágeis.<br><b><a href="/presentations">MAIS INFORMAÇÕES</a></b></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">ACONSELHAMENTO</h4>
                    <p class="text-muted">Através do <b>Aconselhamento</b> ajudo pessoas a resolverem dúvidas sobre problemas no dia a dia trabalhando com métodos ágeis, de forma que elas consigam solucioná-los utilizando a abordagem com maiores chances de sucesso!<br><b><a href="/counseling">MAIS INFORMAÇÕES</a></b></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">MENTORIA</h4>
                    <p class="text-muted">Através da <b>Mentoria</b> ajudo pessoas e times a alcançarem com mais eficiência níveis mais elevados com métodos e práticas ágeis, melhoria contínua e outros.<br><b><a href="/mentoring">MAIS INFORMAÇÕES</a></b></p>
                </div>

                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">CONSULTORIA</h4>
                    <p class="text-muted">Direcionamento na implantação de métodos ágeis, como alcançar a melhoria contínua e ter uma avaliação do nível de maturidade do time são resultados possíveis com a <b>Consultatoria em Métodos Ágeis</b>. Decidir entre nativo ou plataforma híbrida, melhorar a qualidade técnica e obter maior agilidade no desenvolvimento são resultados possíveis com a <b>Consultoria em Desenvolvimento de Aplicativos</b>.</p>
                </div> -->
            </div>


        </div>
    </section>