<section id="portfolio">
		<style type="text/css">
			.depoiment-text {
				font-size: 14px;
				line-height: 1.3em;
				margin: 40px 30px;
			}

			@media (min-width: 992px) {
				.depoiment-text {
					padding:0px 50px;
				}
			}

			.workshop-galery-image-container
			{
			  max-width: 100%; height: 450px;
			  height: 330px;
			  background-size: cover;
			  background-position: center;
			  background-repeat: no-repeat;
			  margin: 15px 0;
			  /*position: relative;*/
			  float: left;
			}


			.photo-carousel {
				padding: 0;
			}

			@media(min-width:768px) {
				.photo-carousel {
					padding: 0 50px;
				}
			}
		</style>
    <div class="container">
        <div class="row">
        		<div class="col-sm-1"></div>
            <div class="col-sm-10" style="text-align: center;">
                <h2 class="section-heading">ÚLTIMOS EVENTOS</h2>
                <p class="text-muted" style="text-align: left;">Veja como foram alguns dos últimos workshops e treinamentos.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>

				<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>

	        	<div class="col-sm-10">
						    <div class="owl-carousel owl-theme owl-loaded">
							    <div class="owl-stage-outer">
							      <div class="owl-stage">
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0730.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0662.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0809.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0916.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0658.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0670.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0696.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_0867.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_1158.JPG'); max-width: 100%; height: 450px;"></div>
											<div class="item post-image-container owl-item" style="background-image: url('/assets/img/workshops/IMG_1220.JPG'); max-width: 100%; height: 450px;"></div>
										</div>
									</div>
								</div>
	        	</div>

	        	<div class="col-sm-1"></div>
	      </div>

        <!-- <div class="row">
            <div class="col-lg-12" style="text-align: center;">
            	<br>
              <a href="/articles" class="btn btn-warning agilizando-btns" style="box-shadow: 2px 2px 5px #0005;">Contrate um Workshop</a>
            </div>
        </div> -->
    </div>
</section>
