---
layout: page
type: workshops
title: Workshops
---

<header style="background-image: url('/assets/img/workshops-header4.jpg');">
    <div class="container">
        <div class="intro">

          <div class="main-text-box" style="margin: auto 0 ">
            <div class="main-text" style="text-align: center; font-weight: 600; width: 100%; font-size: 150%; margin: 360px auto">

							WORKSHOPS<!-- <span id="type-it"></span><br> -->
							<!-- <span style="font-weight: 200;">UMA EXPERIÊNCIA INESQUECÍVEL!</span> -->

	          </div>
					</div>
        </div>
    </div>
</header>

<!-- Services Section -->
{% include video-ultimo-workshop.html %}

{% include workshop-photos.html %}

{% include newsletter.html %}

{% include depoiments.html %}