---
layout: page
type: agilizando
---

<!-- Services Section -->
<section id="posts" class="bg-light-gray" id="principal" style="padding: 120px 0 20px">
    <div class="container " style="min-height:100%;">
        <div class="row">
            <div class="col-lg-11 text-center" style="height: 600px">

                <div class="post-image-container" style="height: 95%; background-image: url({{site.url}}/assets/img/posts/praticas-ageis-medium.png);">
                    <div class="post-image-title">
                      <a href="" class="post-title">A solução para seu problema está mais perto do que você imagina!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="posts">
    <div class="container " style="min-height:100%;">
        <div class="row">
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-md-8">

              <!-- <p class="meta" itemprop="headline">Artigos com a tag <a class="tag" href="/articles/tag/{{ page.tag }}/">{{ page.tag }}</a></p> -->
              {% for post in site.posts %}
                {% for tag in post.tags %}
                  {% assign cleantag = tag | slugify: 'latin' %}
                    {% if cleantag == 'metodos-ageis' %}

                      <div class="post-image-container" style="background-image: url({{site.url}}/{{post.image}});">
                        <div class="post-image-title">
                          <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
                        </div>
                      </div>
                      {% include meta.html %}
                      <div class="resumo" >
                        {{ post.resumo }}
                      </div>
                      <br>
                      <a href="{{ post.url }}" class="btn btn-outline-dark">Continuar lendo</a>
                      <hr style="margin-top:30px; margin-bottom:20px" />
                    {% endif %}

                {% endfor %}
              {% endfor %}

              {% if paginator.total_pages > 1 %}
              <div class="pagination">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Anterior </a>
                {% else %}
                  <span>&laquo; Anterior </span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                  {% if page == paginator.page %}
                    <em>{{ page }}</em>
                  {% elsif page == 1 %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                  {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                  {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> Próximo &raquo;</a>
                {% else %}
                  <span> Próximo &raquo;</span>
                {% endif %}
              </div>
              {% endif %}

            </div> <!-- close col-sm-10 -->
            <div class="col-md-4">

              <h4>Tags</h4>
              <p class="meta">
                {% for tag in site.tags %}
                <a class="cloud-tag" href='/articles/tag/{{ tag[0] | slugify: "latin" }}/'>#{{ tag[0] }}</a>
                {% endfor %}
              </p>

              <h4>TOP VÍDEOS</h4>
              <p class="meta">
                {% for tag in site.tags %}
                <a class="cloud-tag" href='/articles/tag/{{ tag[0] | slugify: "latin" }}/'>#{{ tag[0] }}</a>
                {% endfor %}
              </p>
            </div>
        </div>

    </div>
</section>