---
layout: page
type: agilizando
---
<style type="text/css">

.agilizando-post-principal-yellow-vertical-line {
    height: 112%;
    width: 4px;
    background-color: #F8E71C;
    display: table-cell;
    height: 100%;
}
.agilizando-post-principal-title {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  margin-left: 10px;
}


</style>


<!-- Services Section -->
<section id="posts" class="bg-light-gray" id="principal" style="padding: 150px 0 40px">
    <div class="container " style="min-height:100%;">
        <div class="row">
            <div class="col-lg-12 text-center" style="height: 600px;">
                {% assign post = site.posts.first %}
                <div class="agilizando-networks-container">
                    <a target="_blank" href="https://www.youtube.com/agilizando"><img class="agilizando-network" src="/assets/img/share-youtube.png" /></a>
                    <a target="_blank" href="https://www.instagram.com/_agilizando"><img class="agilizando-network" src="/assets/img/share-instagram.png" /></a>
                    <a target="_blank" href="https://twitter.com/_agilizando"><img class="agilizando-network" src="/assets/img/share-twitter.png" /></a>
                    <a target="_blank" href="https://www.linkedin.com/in/suelengc"><img class="agilizando-network" src="/assets/img/share-linkedin.png" /></a>
                </div>

                <div class="agilizando-post-principal-container" style="background-image: url({{site.url}}/{{post.image}});">
                    <div class="agilizando-post-principal-info-box">
                      <div>
                          <p style="margin-right: 10px; color: #F8E71C;display: inline-block;">Dicas de Agilidade </p>
                          <img style="display: inline-block; width: 17px; margin-right: 4px; margin-bottom: 1px;" src="/assets/img/icclock.png" />
                          <p style="color: #fff;display: inline-block;">10 de Abril | 2019</p>
                      </div>

                      <div style="display:table; width: 100%">
                          <div class="agilizando-post-principal-yellow-vertical-line"></div>
                          <a href="{{ post.url }}" class="agilizando-post-principal-title" style="display: inline-block; vertical-align: top; font-size: 2em; width: 90%; font-weight: 600">{{ post.title }}</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="posts" style="padding: 20px 0 40px">
    <div class="container " style="min-height:100%;">
        <div class="row">
            <div class="col-md-9">
              {% for post in site.posts offset: 1 %}
                {% for tag in post.tags %}
                  {% assign cleantag = tag | slugify: 'latin' %}
                    {% if cleantag == 'metodos-ageis' %}
                      <div class="agilizando-post">
                          <div class="agilizando-post-image-cropped" style="background-image: url({{site.url}}/{{post.image}});"></div>
                          <div class="agilizando-post-info">
                              <a class="agilizando-post-title" href="{{ post.url }}">{{ post.title }}</a>
                              <div class="agilizando-post-metadata">
                                  <p class="agilizando-post-meta-categoria">Dicas de Agilidade </p>
                                  <img class="agilizando-post-meta-icon-clock" src="/assets/img/icclockroxo.png" />
                                  <p class="agilizando-post-meta-data">10 de Abril | 2019</p>
                              </div>
                              <div class="agilizando-post-resumo" id="block-with-text" >
                                  {{ post.resumo | truncate: 150, '...' }}
                              </div>
                              <div class="agilizando-post-leia-mais-box">
                                <a href="{{ post.url }}" class="agilizando-post-leia-mais">Leia mais</a>
                                <img src="/assets/img/arrow-roxa.png">
                              </div>
                            </div>
                      </div>
                      <hr style="margin-top:40px; margin-bottom:20px" />
                    {% endif %}
                {% endfor %}
              {% endfor %}

              {% if paginator.total_pages > 1 %}
              <div class="pagination">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Anterior </a>
                {% else %}
                  <span>&laquo; Anterior </span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                  {% if page == paginator.page %}
                    <em>{{ page }}</em>
                  {% elsif page == 1 %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                  {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                  {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> Próximo &raquo;</a>
                {% else %}
                  <span> Próximo &raquo;</span>
                {% endif %}
              </div>
              {% endif %}

            </div> <!-- close col-sm-9 -->

            <div class="col-md-3">

              <h4>TOP VÍDEOS</h4>
              {% for video in site.videos %}
              <div style="margin-bottom: 20px">
                <a target="_blank" href='{{ video.link}}'><img src="/assets/img/videos/{{ video.thumb }}"></a>
              </div>
              {% endfor %}

              <hr/>

              <div style="text-align: center; margin-bottom: 20px">
                  <img src="/assets/img/foto-fundo-roxo.png" style="width: 200px;">
              </div>
              <a href="/about" class="btn btn-warning agilizando-btns"><b>SOBRE A SUELEN</b></a>


              <hr>
              <h4>TAGS</h4>
              <p class="meta">
                {% for tag in site.tags %}
                <a class="cloud-tag" href='/articles/tag/{{ tag[0] | slugify: "latin" }}/'>#{{ tag[0] }}</a>
                {% endfor %}
              </p>

            </div>
        </div>
    </div>
</section>