---
layout: page
---

<style type="text/css">

  iframe {
    padding: 3px;
  }

  .videos-description {
     min-height: 125px;
     padding: 3px;
  }

  .videos-title {
    margin: -5px 0;
    padding: 3px;
  }
</style>

<!-- Services Section -->
<section id="community">
    <div class="container" style="min-height:100%;">

        <p style="font-size: 2em; color: #390864; margin-bottom: 40px; font-weight: 600">Acompanhe os vídeos do Agilizando!</p>

				{% assign rows = site.videos.size | divided_by: 3.0 | ceil %}
				{% for row in (1..rows) %}
					<div class="row">
						{% assign row_offset = row | minus: 1 | times: 3 %}
						{% for video in site.videos limit:3 offset:row_offset %}
	            <div class="col-md-4">
	                <div class="portfolio-item">
	                  <div class="video-container">
	                    <iframe src="{{video.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                  </div>
	                  <div class="presentation-title videos-title" width="100%" style="min-height: 32px">
	                    <h4 style="color: black;">{{video.title}}</h4>
	                  </div>
	                  <div class="videos-description">
	                      <p style="line-height: 1.3">{{video.description}}</p>
	                  </div>
	                </div>
	            </div>
	          {% endfor %}

	        </div>
				{% endfor %}

    </div> <!-- close container -->
</section>


