---
layout: page
---
<section id="post" style="padding: 100px 0">
		<div class="container" style="min-height:100%;">

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
				.fa2 {
					  padding: 7px;
					  font-size: 18px;
					  width: 67px;
					  text-align: center;
					  text-decoration: none;
					  margin: 5px 2px;
					}

					.fa2:hover,
					.fa2:focus,
					.fa2:active {
					    opacity: 0.7;
					    text-transform: none;
					    text-decoration: none;
					    color: white
					}

					.fa-facebook {
					  background: #3B5998;
					  color: white;
					}

					.fa-twitter2 {
					  background: #55ACEE;
					  color: white;
					}

					.fa-linkedin2 {
					  background: #007bb5;
					  color: white;
					}

					.fa-whatsapp {
						background: #25d366;
						color: white;
					}

					@media(min-width:768px) {
							.fa2 {
							  padding: 7px;
							  font-size: 18px;
							  width: 110px;
							  text-align: center;
							  text-decoration: none;
							  margin: 5px 2px;
							}

					}
			</style>
        <div class="row">
            <div class="col-sm-9"> <!-- início do post -->
              <h3 class="section-heading" style="margin-top: 0">{{ page.title }}</h3>
              {% include meta.html %}

							{% if page.image %}
	              <div class="post-image-container text-center" style="background-image: url({{site.url}}/{{page.image}});">
										<div class="agilizando-networks-container" style="margin: 10px; padding: 3px;">
		                    <a target="_blank" href="https://www.youtube.com/canalagilizando"><img class="agilizando-network" src="/assets/img/share-youtube.png" alt="Agilizando! no YouTube" /></a>
		                    <a target="_blank" href="https://www.instagram.com/canalagilizando"><img class="agilizando-network" src="/assets/img/share-instagram.png" alt="Agilizando! no Instagram" /></a>
		                    <a target="_blank" href="https://www.instagram.com/_suelengc"><img class="agilizando-network" src="/assets/img/share-instagram.png" alt="Suelen no Instagram" /></a>
		                    <a target="_blank" href="https://twitter.com/canalagilizando"><img class="agilizando-network" src="/assets/img/share-twitter.png" alt="Agilizando! no Twitter" /></a>
		                    <a target="_blank" href="https://twitter.com/suelengc"><img class="agilizando-network" src="/assets/img/share-twitter.png" alt="Suelen no Twitter" /></a>
		                    <a target="_blank" href="https://www.facebook.com/canalagilizando"><img class="agilizando-network" src="/assets/img/share-facebook.png" alt="Agilizando! no Facebook" /></a>
		                    <a target="_blank" href="https://www.linkedin.com/in/suelengc"><img class="agilizando-network" src="/assets/img/share-linkedin.png" alt="Suelen no LinkedIn"/></a>
		                </div>

	              </div>
	            {% endif %}

							<!-- compartilhar em redes sociais -->
							<div>
		            	<a href="https://www.facebook.com/share.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Compartilhe no Facebook" class="fa fa2 fa-facebook"></a>
									<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Compartilhe no Twitter" class="fa fa2 fa-twitter fa-twitter2"></a>
									<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Compartilhe no LinkedIn" class="fa fa2 fa-linkedin fa-linkedin2"></a>
									<a href="whatsapp://send?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" data-action="share/whatsapp/share" title="Compartilhe no Whatsapp" class="fa fa2 fa-whatsapp"></a>

									<br /><br />
	            </div>

              <div class="post-content" style="line-height: none">
              	<b>{{ page.resumo }}</b>
              	<br /><br />
                {{ content }}
              </div>

              <div style="margin-top:40px; border-top: 1px solid #f1f1f1!important;">
              	<br>
                <img src="/assets/img/foto-sem-fundo.png" style='float:left;width:120px;height:120px;margin-right:20px;'>
                <small>
                  <p style="text-align: justify; line-height: 1.4; font-size: 1.1em"><b>Suelen Carvalho</b> é Mestre em Ciência da Computação pelo Instituto de Matemática e Estatística da USP (2018), certificada em Liderança e Coach pela Universidade de La Verne na Califórnia (2018) e Pós-Graduada em Gestão Estratégica de Projetos pelo ITA (2012). Atua com desenvolvimento de software há 13 anos e lidera times ágeis há 8. Atualmente é Líder Técnica de Engenharia no <a href="https://www.gympass.com" target="_blank">Gympass</a> e também ministra palestras, workshops e treinamentos sobre Métodos Ágeis, Desenvolvimento de Aplicativos e Carreira.</p>
                </small>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <br><br>
                  <div class="commentbox"></div>
                </div>
              </div>
            </div> <!-- fim do post -->

            <div class="col-sm-3"> <!-- coluna lateral direita -->

              <!-- Formulário de Inscrição -->
              <form action="#" method="post">
                  <div style="display: table; width: 100%; margin-bottom: 10px;">
                      <div class="agilizando-post-principal-yellow-vertical-line" style="height: 100%"></div>
                      <h4 style="color: #390864; font-weight: 600; text-transform: none; margin: 0 10px; font-size: 1em;">O Agilizando! te ajuda a agilizar sua vida e carreira!</h4>
                  </div>

                  <p style="color: #ccc; line-height: 1">Deixe seu e-mail aqui e receba o conteúdo mais ágil do Brasil!</p>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="fulano@gmail.com" />
                  </div>
                  <a href="/about" class="btn btn-warning agilizando-btns" style="text-transform: none; color: #390864"><b>Inscrever</b></a>
                  <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>


							<!-- Categories -->
              <hr style="margin-top:50px" />
              <div style="display: table; width: 100%; margin-bottom: 20px;">
                <div class="agilizando-post-principal-yellow-vertical-line" style="height: 100%"></div>
                <h4 style="color: #390864; text-transform: none; margin: 0 10px; font-size: 1em;">Categorias</h4>
              </div>
              <p class="meta">
                {% for category in site.categories %}
                <a class="cloud-tag" href='/articles/category/{{category[0] | slugify: "latin"}}/'>{{ category[0] }}</a>
                {% endfor %}
              </p>


              <!-- Outros Artigos -->
              <hr style="margin-top:50px" />
              <div style="display: table; width: 100%; margin-bottom: 20px;">
                <div class="agilizando-post-principal-yellow-vertical-line" style="height: 100%"></div>
                <h4 style="color: #390864; text-transform: none; margin: 0 10px; font-size: 1em;">Mais lidos</h4>
              </div>

              {% assign min = 1 %}
              {% assign max = site.posts.size %}
              {% assign diff = max | minus: min %}
              {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

              {% for post in site.posts limit:2 offset:randomNumber %}
                {% if page.title != post.title %}
                    <div class="post-image-container" style="background-image: url({{site.url}}/{{post.image}}); font-size: .8em; height: 200px;">
                      <div class="post-image-title">
                        <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
                      </div>
                    </div>
                {% endif %}
              {% endfor %}


              <!-- Top Vídeos -->
              <hr style="margin-top:50px" />
              <div style="display: table; width: 100%; margin-bottom: 20px;">
                <div class="agilizando-post-principal-yellow-vertical-line" style="height: 100%"></div>
                <h4 style="color: #390864; text-transform: none; margin: 0 10px; font-size: 1em;">Top vídeos</h4>
              </div>

              {% for video in site.videos limit:2 %}
              <div style="margin-bottom: 20px">
                <a target="_blank" href='{{ video.url}}'><img src="/assets/img/videos/{{ video.img }}"></a>
              </div>
              {% endfor %}

              <!-- Sobre a Suelen -->
              <hr style="margin-top: 50px"/>
              <div style="display: table; width: 100%; margin-bottom: 20px;">
                <div class="agilizando-post-principal-yellow-vertical-line" style="height: 100%"></div>
                <h4 style="color: #390864; text-transform: none; margin: 0 10px; font-size: 1em;">Sobre a Suelen</h4>
              </div>
              <div style="text-align: center; margin-bottom: 20px">
                  <img src="/assets/img/foto-fundo-roxo.png" style="width: 200px;">
              </div>
              <a href="/about" class="btn btn-warning agilizando-btns" style="text-transform: none; color: #390864"><b>Saiba mais!</b></a>


							<!-- Tags -->
              <hr style="margin-top:50px" />
              <div style="display: table; width: 100%; margin-bottom: 20px;">
                <div class="agilizando-post-principal-yellow-vertical-line" style="height: 100%"></div>
                <h4 style="color: #390864; text-transform: none; margin: 0 10px; font-size: 1em;">Tags</h4>
              </div>
              <p class="meta">
                {% for tag in site.tags %}
                <a class="cloud-tag" href='/articles/tag/{{tag[0] | slugify: "latin"}}/'>#{{ tag[0] }}</a>
                {% endfor %}
              </p>

            </div> <!-- fim coluna lateral direita -->

        </div>

    </div>
</section>


