---
layout: page
---

<section id="post">
    {{ include navbar.html }}
    <div class="container" style="min-height:100%;">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <h3 class="section-heading">{{ page.title }}</h3>
              {% include meta.html %}

              {% if page.image %}
                <div class="post-image-container" style="background-image: url({{site.url}}/{{page.image}});"></div>
              {% endif %}

              <div class="post-content">
                {{ content }}
              </div>
              <div style="margin-top:40px">
                <hr>
                <img src="/assets/img/foto-sem-fundo.png" style='float:left;width:80px;height:80px;margin-right:20px;'>
                <small>
                  <p style="text-align: justify;"><b>Suelen Carvalho</b> é Mestre em Ciência da Computação pelo Instituto de Matemática e Estatística da USP (2018), certificada em Liderança e Coach pela Universidade de La Verve na Califórnia (2018) e Pós-Graduada em Gestão Estratégica de Projetos pelo ITA (2012). Atua com desenvolvimento de software há 13 anos e lidera times ágeis há 8. Atualmente é CTO do <a href="https://www.jeitto.com.br" target="_blank">Jeitto</a> e também ministra palestras, workshops e treinamentos sobre Métodos Ágeis, Desenvolvimento de Aplicativos e Carreira.</p>

                </small>

              </div>
            </div> <!-- close col-sm-10 -->
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <br><br>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                  <h4>Tags</h4>

                  <p class="meta">
                    {% for tag in site.tags %}
                    <a class="cloud-tag" href='/articles/tag/{{tag[0]}}/'>#{{ tag[0] }}</a>
                    {% endfor %}</p>
            </div>
            <div class="col-sm-7">
                  <h4>OUTROS ARTIGOS</h4>

                  {% assign min = 1 %}
                  {% assign max = site.posts.size %}
                  {% assign diff = max | minus: min %}
                  {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

                  {% for post in site.posts limit:4 offset:randomNumber %}
                    {% if page.title != post.title %}
                      <div class="col-sm-6">
                        <div class="post-image-container" style="background-image: url({{site.url}}/{{post.image}}); font-size: .8em; height: 200px;">
                          <div class="post-image-title">
                            <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>


